<template>
  <section>
    <Navbar />
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-layout
          justify-center
          wrap
        >
          <v-flex md12>
            <v-toolbar
              flat
            >
              Notas
              <v-spacer/>
              <v-btn
                color="success"
                dark
                @click="openAgregar()"
              >
                Agregar
              </v-btn>
            </v-toolbar>
            <v-data-table
              :headers="headers"
              :items="notas"
            >
              <template v-slot:item.actions="{ item }">
                <v-btn
                  color="primary"
                  fab
                  small
                  dark
                  @click="openEditar(item)">
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                  color="red"
                  fab
                  small
                  dark
                  @click="eliminarNota(item.id)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
        
      </v-container>
    </v-content>
    <v-dialog v-model="dialog" max-width="500">
      <v-card class="elevation-12">
        <v-toolbar
          :color="dialogState === 'agregar' ? 'success' : 'primary'"
          dark
          flat
        >
          <v-toolbar-title>{{ dialogState === 'agregar' ? "Crear Nota" : "Editar Nota" }}</v-toolbar-title>
          <v-spacer />
          <v-btn
            color="red"
            fab
            small
            dark
            @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="nota.titulo"
              label="Titulo"
            />
            <v-text-field
              v-model="nota.descripcion"
              label="Descripción"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn v-if="dialogState === 'agregar'" color="success" small @click="agregarNota()">Crear Nota</v-btn>
          <v-btn v-else color="primary" small @click="editarNota()">Editar Nota</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import axios from 'axios'
import Navbar from "../components/Navbar.vue";
export default {
  components: {
    Navbar
  },
  data () {
    return {
      dialog: false,
      dialogState: 'agregar',
      nota: {
        id: 0,
        titulo: '',
        descripcion: ''
      },
      notas: [],
      headers: [
        {
          sortable: false,
          text: 'ID',
          value: 'id'
        },
        {
          sortable: false,
          text: 'Titulo',
          value: 'titulo'
        },
        {
          sortable: false,
          text: 'Descripción',
          value: 'descripcion'
        },
        {
          sortable: false,
          text: 'Acciones',
          value: 'actions',
          align: 'right'
        }
      ]
    }
  },
  computed: {
    rutaAPI () {
      return this.$store.state.rutaAPI
    },
    getHeaders () {
      let headers = {
        headers : {
          Authorization: localStorage.getItem('token')
        }
      }
      return headers;
    }
  },
  created () {
    this.getNotas()
  },
  methods: {
    getNotas () {
      axios.get(this.rutaAPI + 'notas', this.getHeaders).then(response => {
        this.notas = response.data.data
      })
    },
    agregarNota () {
      axios.post(this.rutaAPI + 'notas', this.nota, this.getHeaders).then(response => {
        this.notas.push(response.data.data)
        this.dialog = false
      }).catch((error) =>{
        alert(error.response.data.error)
      })
    },
    editarNota (committeeId, currentCommittee) {
      axios.put(this.rutaAPI + 'notas/' + this.nota.id, this.nota, this.getHeaders).then(response => {
        this.dialog = false
        alert(response.data)
      }).catch((error) =>{
        alert(error.response.data.error)
      })
    },
    eliminarNota (id) {
      let index = 0
      for (var i = 0; i < this.notas.length; i++) {
        if (this.notas[i].id == id) index = i
      }
      let confirmar = confirm('¿Estas seguro de eliminar esta nota?')
      if (confirmar) {
        axios.delete(this.rutaAPI + 'notas/' + id ,this.getHeaders).then(response => {
          this.notas.splice(index, 1)
          alert('Nota eliminada correctaente')
        })
      }
    },
    openAgregar () {
      this.dialogState = 'agregar'
      this.dialog = true
    },
    openEditar (nota) {
      this.dialogState = 'editar'
      this.nota = nota
      this.dialog = true
    }
  }
}
</script>