<template>
  <section>
    <Navbar />
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="credenciales.email"
                    label="Correo"
                    prepend-icon="mdi-account"
                    type="text"
                  />
                  <v-text-field
                    v-model="credenciales.password"
                    label="Contraseña"
                    prepend-icon="mdi-lock"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="login()">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </section>
</template>

<script>

import axios from 'axios'
import Navbar from "../components/Navbar.vue";
export default {
  components: {
    Navbar
  },
  data () {
    return {
      credenciales: {
        email: '',
        password: ''
      }
    }
  },
  computed: {
    rutaAPI () {
      return this.$store.getters.rutaAPI
    }
  },
  methods: {
    login () {
      axios.post(this.rutaAPI + 'login', this.credenciales).then(response => {
        let user = JSON.stringify(response.data.user)
        localStorage.setItem('user', user)
        localStorage.setItem('token', response.data.token)
        this.$router.push('/')
      }).catch((error) =>{
        alert(error.response.data.error)
      })
    }
  }
}
</script>
