<template>
  <section>
    <Navbar />
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Crear Usuario</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="usuario.nombre"
                    label="Nombre"
                  />

                  <v-text-field
                    v-model="usuario.apellidos"
                    label="Apellidos"
                  />

                  <v-text-field
                    v-model="usuario.email"
                    label="Correo"
                  />

                  <v-text-field
                    v-model="usuario.password"
                    label="Contraseña"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="crearUsuario()">Crear Usuario</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </section>
</template>

<script>
import axios from 'axios'
import Navbar from "../components/Navbar.vue";
export default {
  components: {
    Navbar
  },
  data () {
    return {
      usuario: {
        nombre: '',
        apellidos: '',
        email: '',
        password: ''
      }
    }
  },
  computed: {
    rutaAPI () {
      return this.$store.state.rutaAPI
    }
  },
  methods: {
    crearUsuario () {
      axios.post(this.rutaAPI + 'users', this.usuario).then(response => {
        alert('Usuario creado con exito!')
        this.$router.push('/login')
      }).catch((error) =>{
        alert(error.response.data.error)
      })
    }
  }
}
</script>
