<template>
   <v-toolbar>
      <v-toolbar-title>Example Vue CLI</v-toolbar-title>
      <div class="flex-grow-1"></div>
      <v-toolbar-items v-if="getToken">
        <v-btn text to="/login">Login</v-btn>
        <v-btn text to="/registro">Registro</v-btn>
      </v-toolbar-items>
      <v-toolbar-items v-else>
        <v-btn text to="/">CRUD</v-btn>
        <v-btn text @click="logout()">Logout</v-btn>
      </v-toolbar-items>
    </v-toolbar>
</template>

<script>
export default {
  computed: {
    getToken () {
      if (localStorage.getItem('token') !== null) {
        return false
      } else {
        return true
      }
    }
  },
  methods: {
    logout () {
      localStorage.clear('user')
      localStorage.clear('token')
      location.reload()
    }
  }
}
</script>
